*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body,html{
  width:100%;
  height:100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  overflow-x: hidden;
  
}
body::-webkit-scrollbar{
  display: none;
}

.main{
  width:100%;
  height:100%;
}

.page1,.page2,.page3{
  width:100%;
  height:100%;
}
.page2{
  background-color: #033E8E;

}  

.page1 img,.page3 .imag{
  width:100%;
  height:100%;
  object-fit: cover;
}

.page1 .lockscreen-text{
  position: absolute;
  color:white;
  top:60%;
  padding:4%;
}

.lockscreen-text h1{
  font-size: 6rem;
  font-weight: 400;
}

.lockscreen-text p{
  font-weight: 500;
}

.ri-battery-2-charge-line{
  color:#fff;
  font-size: 1.5rem;
  position: absolute;
  left:88%;
  top:90%;
  font-weight: 100;
}

.ri-signal-wifi-error-line{
  color:#fff;
  font-size: 1.5rem;
  position: absolute;
  left:92%;
  top:90%; 
}

.page2 h3{
  position: relative;
  top:50%;
  left:50%;
  font-size:2rem;
  font-weight: 500;
  transform: translate(-50%,-50%);
  text-align: center;
  color:white

}

.page3{
  position: relative;
}

.thispc{
  position: absolute;
  z-index:9;
  top:6%;
  left:2%;
  width:4vw;
  height:4vw;
}

.bin{
  position: absolute;
  z-index:10;
  top:21%;
  left:2%;
  width:4vw;
  height:4vw;
}

.chrome{
  position: absolute;
  z-index:10;
  top:34.5%;
  left:2%;
  width:4vw;
  height:4vw;
}

 .page3 p{
  position: absolute;
  left:2.8%;
} 

.pctext{
  top:15%;
  font-size: 0.8vw;
  font-weight: 500;
  color:white
}

.rbin{
  top:30%;
  font-size: 0.8vw;
  font-weight: 500;
  color:white
}

.gchrome{
  top:43%;
  font-size: 0.8vw;
  font-weight: 500;
  color:white
}

.bottom-nav{
  width:100%;
  height:5.5%;
  background-color: black;
  position: relative;
  top:-5%;
}

.logo{
  width:1.8vw;
  position: relative;
  top:25%;
  left:1%;
  height:1.5vw;

}

#search{
  position: relative;
  left:1.5%;
  border:1px solid grey;
  padding:12px 1vw;
  border-radius: 4px;
  width:15vw;
  height:1.5vw;
  background-color:transparent;
}