*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body,html{
  width:100%;
  height:100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  overflow-x: hidden;
  
}
body::-webkit-scrollbar{
  display: none;
}

.main{
  width:100%;
  height:100%;
}

.page1,.page2,.page3{
  width:100%;
  height:100%;
}
.page2{
  background-color: #033E8E;

}  

.page1 img,.page3 .imag{
  width:100%;
  height:100%;
  object-fit: cover;
}

.page1 .lockscreen-text{
  position: absolute;
  color:white;
  top:60%;
  padding:4%;
}

.lockscreen-text h1{
  font-size: 6rem;
  font-weight: 400;
}

.lockscreen-text p{
  font-weight: 500;
}

.ri-battery-2-charge-line{
  color:#fff;
  font-size: 1.5rem;
  position: absolute;
  left:88%;
  top:90%;
  font-weight: 100;
}

.ri-signal-wifi-error-line{
  color:#fff;
  font-size: 1.5rem;
  position: absolute;
  left:92%;
  top:90%; 
}

.page2 h3{
  position: relative;
  top:50%;
  left:50%;
  font-size:2rem;
  font-weight: 500;
  transform: translate(-50%,-50%);
  text-align: center;
  color:white

}

.page3{
  position: relative;
}

.thispc{
  position: absolute;
  z-index:9;
  top:3%;
  left:2%;
  width:4vw;
  height:4vw;
}

.bin{
  position: absolute;
  z-index:10;
  top:17%;
  left:2%;
  width:4vw;
  height:4vw;
}

.chrome{
  position: absolute;
  z-index:10;
  top:30%;
  left:2%;
  width:4vw;
  height:4vw;
}

input{
  color:white;
}

 .page3 p{
  position: absolute;
  left:2.8%;
} 

.pctext{
  top:12%;
  font-size: 0.8vw;
  font-weight: 500;
  color:white
}

.rbin{
  top:26.5%;
  font-size: 0.8vw;
  font-weight: 500;
  color:white
}

.gchrome{
  top:39%;
  font-size: 0.8vw;
  font-weight: 500;
  color:white
}

.bottom-nav{
  width:100%;
  height:5.7%;
  background-color: black;
  position: relative;
  top:-5%;
}

.logo{
  width:1.8vw;
  position: relative;
  top:25%;
  left:1%;
  height:1.5vw;
}

.cortana{
  width:1.5vw;
  position: absolute;
  top:25%;
  left:19.5%;
  height:1.5vw;
}

.taskbar{
  width:1.8vw;
  position: absolute;
  top:25%;
  left:22%;
  height:1.5vw;
}

.mail{
  width:1.8vw;
  position: absolute;
  top:25%;
  left:28%;
  height:1.5vw;
}

.filemanager{
  width:1.8vw;
  position: absolute;
  top:25%;
  left:25%;
  height:1.5vw;
}

.onedrive{
  width:1.8vw;
  position: absolute;
  top:25%;
  left:86%;
  height:1.5vw;
}

.wifi{
  width:1.8vw;
  position: absolute;
  top:25%;
  left:88.5%;
  height:1.5vw;
}

.dateTime{
  width:7%;
  height:70%;
  position: absolute;
  top:20%;
  left:93%;
  /* background-color: white;  */
}

.dateTime p{
  font-size: 0.8rem;
  font-weight: 600;
  color:white;
}

.date{
  position: relative;
  top:32%;
  text-align: right;
}

.time{
  position: relative;
  top:-10%;
  margin-left: 30%;
}

.messages{
  width:2.5vw;
  position: absolute;
  top:12%;
  left:97.5%;
  height:2.3vw;
}

.battery{
    width:1.5vw;
    position: absolute;
    top:25%;
    left:91%;
    height:1.5vw;
  
}

.systemtray{
  width:0.8vw;
  position: absolute;
  top:18px;
  left:84%;
  height:0.8vw;
}



#search{
  position: relative;
  left:1.5%;
  border:0.5px solid grey;
  padding:13px 1vw;
  border-radius: 6px;
  width:15vw;
  height:1.5vw;
  background-color:rgba(80, 75, 75, 0.523);
}


.hover:hover{
  cursor: pointer;
  opacity: 0.7;
  
}

.mycomputer{
  width:75%;
  display: none;
  position: absolute;
  height:75%;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  background-color:rgba(235, 227, 227, 1);
}

.mycomputer .nav{
  width:100%;
  height:5%;
  padding:0 1%;
  background-color: rgb(179, 194, 220);
}

.nav .left img{
  width:5%;
  position: relative;
  height:5%;
  top:6px
}

.left h5{
  font-weight: 500;
}

.nav{
  display: flex;
  justify-content: space-between;
}

.right{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:1vw
}

.right div:hover{
  cursor: pointer;
   background-color: rgba(128, 128, 128, 0.265);
}

.minimize,.close{
  font-size: 1.2vw;
}

.minimize:hover{
  color:rgba(0, 0, 0, 0.416);
  font-weight: 600;
}

.fullscreen:hover{
  color:blue;
  font-weight: 600;
}

.close:hover{
  color:red;
  font-weight: 600;
}

.view{
  width:100%;
  height:95%;
  display: flex;
  background-color: white;
}

.left-space{
  height:100%;
  width:15%;
  background-color: rgba(205, 201, 201, 0.648);
}

.right-space{
  height: 100%;
  width:85%;
  background-color: white;
}

.ri-checkbox-multiple-blank-line{
  display: none;
}

.bottom-nav{
  z-index:9999;
}

.fmopened{
  display: none;
  width:1.3%;
  height:2px;
  position: absolute;
  left:25.2%;
  bottom:3%;
  border-radius: 40px;
  background-color: grey;
}